---
import FloatingText from '../components/FloatingText.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import alphabet from '../assets/icons/alphabet.png';
import matryoshka from '../assets/icons/matryoshka.png';
import library from '../assets/icons/library.png';
import woman from '../assets/icons/woman.png';
import neologisms from '../assets/icons/neologisms.png';
import people from '../assets/icons/people.png';
import Tooltip from '../components/Tooltip.astro';
import Matryoshki from '../matryoshki';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- <Welcome /> -->
  <section class="hero">
    <!-- <FloatingText> -->
    <Tooltip text={['Осетинский язык']}><h1 class="title">Ног ирон ӕвзаг</h1></Tooltip>
    <!-- </FloatingText> -->
  </section>
  <Matryoshki client:load />
  <main class="icon-cloud">
    <Tooltip text={['Алфавит', 'Алфӕвит']}
      ><a class="alphabet" href="/alphabet"><Image src={alphabet} alt="Алфавит" /></a></Tooltip
    >
    <Tooltip text={['Искусство', 'Айвад']}
      ><a class="art" href="/art"><Image src={matryoshka} alt="Матрешка" /></a></Tooltip
    >
    <Tooltip text={['Обратная связь', 'Алфӕвит']}>
      <a class="feedback" href="/feedback"><Image src={woman} alt="Женщина" /></a></Tooltip
    >
    <Tooltip text={['Библиотека', 'Чиныгӕвӕрын']}>
      <a class="library" href="/library"><Image src={library} alt="Библиотека" /></a>
    </Tooltip>
    <Tooltip text={['Неологизмы', 'Ногдзырдтӕ']}>
      <a class="neologisms" href="/neologisms"><Image src={neologisms} alt="Неологизмы" /></a>
    </Tooltip>
    <Tooltip text={['Команда', 'Алфӕвит']}>
      <a class="team" href="/team"><Image src={people} alt="Команда" /></a>
    </Tooltip>
  </main>

  <!-- GLOBAL -->
  <style is:global>
    :root {
      --blood-red: #8b0000;
      --deep-blue: #003366;

      --black: #000000;
      --white: #ffffff;
      --paper: #f5f5dc;
    }

    body {
      background: var(--black);
      color: var(--white);
      font-family: 'Arial', monospace;
      overflow-x: hidden;
      background-image: radial-gradient(circle at 10% 20%, var(--blood-red) 0%, transparent 20%);
      background-attachment: fixed;
    }

    @font-face {
      font-family: 'Neolost';
      src: url('../NeolostPersonalUse-4nBPB.otf') format('opentype');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'Fixedsys';
      font-style: normal;
      font-weight: normal;
      src:
        local('Fixedsys 62'),
        url('Fixedsys62.woff') format('woff');
    }

    .neolost {
      font-family: 'Neolost', sans-serif;
    }
  </style>

  <style>
    main.icon-cloud {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }

    .icon-cloud,
    a {
      position: absolute;
      pointer-events: auto;
      text-decoration: none;
      animation-iteration-count: infinite;
    }

    .icon-cloud,
    a img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }

    /* плавающие анимации для каждой ссылки */
    .alphabet,
    .alphabet img {
      height: 60%;
      top: 10%;
      left: 5%;
      animation: float1 15s linear infinite;
    }
    .art {
      height: 35%;
      top: 40%;
      left: 35%;
      animation: float2 18s linear infinite;
    }
    .feedback {
      height: 25%;
      top: 70%;
      left: 75%;
      animation: float3 16s linear infinite;
    }
    .library {
      height: 30%;
      top: 25%;
      left: 70%;
      animation: float4 20s linear infinite;
    }
    .neologisms {
      height: 25%;
      top: 55%;
      left: 7%;
      animation: float5 17s linear infinite;
    }
    .team {
      height: 25%;
      top: 80%;
      left: 35%;
      animation: float6 19s linear infinite;
    }

    @keyframes float1 {
      0% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(30px, 50px);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    @keyframes float2 {
      0% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(-40px, 30px);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    @keyframes float3 {
      0% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(25px, -35px);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    @keyframes float4 {
      0% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(-30px, -40px);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    @keyframes float5 {
      0% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(35px, 25px);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    @keyframes float6 {
      0% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(-25px, 40px);
      }
      100% {
        transform: translate(0, 0);
      }
    }

    @media (max-width: 768px) {
      .icon-cloud > a {
        width: 70px;
        height: 70px;
      }
    }

    .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      cursor: help;
    }

    .title {
      font-size: 8vw;
      text-transform: uppercase;
      filter: blur(2px);
      text-shadow: 0 0 30px currentColor;
      animation: glitch 2s infinite;
      font-family: 'Neolost', sans-serif;
      cursor: help;
      animation: blurred 5s linear infinite;
    }

    @keyframes blurred {
      0% {
        filter: blur(8px);
        transform: translate(0, 0);
      }
      50% {
        filter: blur(2px);
        transform: translate(0, 60px);
      }
      100% {
        filter: blur(8px);
        transform: translate(0, 0);
      }
    }
  </style>
</Layout>
